# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
*.log
build-out.txt

# status monitor local state
status-state.json
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

.vercel

package-lock.json
bun.lockb
yarn.lock

# ide
.idea
*.iml
